<H2>Componente 2 (links) - Videos Relacionados</H2>

<div *ngFor="let link of links">
  <div *ngIf=link.title>
    <a [href]=link.videoUrl>{{link.title}}</a>
    <!-- <p> {{ link.videoUrl}} </p> -->
  </div>
</div> 
