<!-- We should render our components here ⬇️ -->
<!-- <h1>Hello {{ title }}. I'm working! 🔥</h1> -->

<app-characters></app-characters>
<app-links></app-links>
<app-foods></app-foods>
<router-outlet></router-outlet>
